#portfolio_section{
    background: #282A39;
    padding: 170px 0px;
  }
  #portfolio_section .nav-tabs{
  
      border: none;
      width: 30%;
      text-align: center;
  }
  
  #portfolio_section .nav-tabs .nav-link.active{
  
      border:none;
      color: var(--pink-color);
      border-bottom: 2px solid var(--pink-color) !important;
      background: transparent;
  }
  
  #portfolio_section .nav-tabs .nav-link.active:hover{
      border-bottom: 2px solid var(--pink-color) !important;
  }
  
  #portfolio_section .nav-tabs .nav-items.show .nav-link{
    font-weight: 400;
    font-size: 14px;
    background: transparent !important;
  }
  
  #portfolio_section .nav-tabs .nav-link:hover{
    border: none;
  }
  
  #portfolio_section .tab-content .card img{
    border: 2px solid white;
  }